.dashboard-page{
    background-color:#F7F1EC;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}

.dashboard-body{
    height: calc(100vh - 70px);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* place-content: center; */
}

.Options{
    display: grid;
    /* flex : 1; */
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1.5rem;
    place-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 60rem;               /* controls how wide the grid can grow */
    /* margin: 0;      */
    padding: 2rem;
}