.buy-container {
  padding-top: 90px;
  background-color: #f5f1ee;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

.fresh {

  background: white;

  max-width: 1000px;

  margin: 0 auto;

  padding: 25px 35px 30px 35px;

  border-radius: 18px;

  box-shadow: 0 8px 25px rgba(0,0,0,0.08);

}
