.header{
    height: 3rem;
    width: 100%;
    background-color:#8B5E3C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    color: white;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding-right: 1rem;
}

.header-right a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.profile-icon{
    font-size: large;
    cursor: pointer;
}

.signout-btn{
    background-color: red;
    border: none;
    padding: 0.3rem 0.5rem;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
}