/* .option-card{
    background-color: rgb(234, 153, 31);
    color: white;
    align-items: center;
    display: flex;
    border-radius: 2rem;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
} */

.option-card {
  width: fit-content;
  padding: 2rem;
  height: 10rem;
  background-color:#E6D3C3;
  color: #4E342E;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.option-card:hover{
    transform: translateY(-0.1rem);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.option-image{
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.option-title{
    font-weight: bold;
    background-color: #8B5E3C;
    border: none;
    padding: 0.8rem;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
}