.options {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}